<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedMParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RDRPParser.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RedMParser.Properties.Settings>
            <setting name="DefaultLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSavePath" serializeAs="String">
                <value />
            </setting>
        </RedMParser.Properties.Settings>
        <RDRPParser.DefaultSettings>
            <setting name="DefaultSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLogPath" serializeAs="String">
                <value />
            </setting>
        </RDRPParser.DefaultSettings>
    </userSettings>
</configuration>